* {
    box-sizing: border-box;
}
  
@font-face {
   font-family: 'Gilmer Heavy';
   src: url(fonts/Gilmer-Heavy.otf);
}
  
@font-face {
  font-family: 'JosefinSans Bold';
  src: url(fonts/JosefinSans-Bold.ttf);
}
  
@font-face {
  font-family: 'JosefinSans Regular';
  src: url(fonts/JosefinSans-Regular.ttf);
}
  
html,body {
  margin: 0;
  padding: 0;
  background-color:  #FFFAED;
}

h1{
  font-family: Gilmer Heavy;
  color: #131F48;
  font-size: 32px;
  margin-bottom: 0em;
}

h2{
  font-family: JosefinSans Bold;
  color: #131F48;
  font-size: 15px;
  margin-bottom: 0em;
  line-height: 1.6;
}

p{
  font-family: JosefinSans Regular;
  color: #131F48;
  line-height: 1.6;
  margin-top: 0em;
  font-size: 17px;
}

a{
  color: #A5D8AF;
}

/* Header */

header img{
  margin: 2em 2em 1em 2em;
  width: 10em;
}

nav ul,li{
  margin: 0em 0.5em 0em 0em;
  padding: 0em;
}

nav ul{
  display: flex;
  flex-direction: row;
  margin-left: 2em;
}

nav li{
  list-style: none;
  border: #131F48 solid 1.5px;
  border-radius: 30px;
}

nav a{
  text-decoration: none;
  font-family: JosefinSans Regular;
  font-size: 14px;
  color: #131F48;
  display: flex;
  justify-content: center;
  padding: 0.4em 1em 0.4em 1em;
}

nav li:active{
  background-color: #131F48;
  border-radius: 30px;
}

nav a:active{
  color: #FFFAED;
}

.selected {
  background-color: #131F48;
}

.selected a{
  color: #FFFAED;
}

/* main */

article{
  margin: 2em;
}

.article-producten img{
  margin-top:  3em;
}

.blok p,a{
  text-decoration: none;
}

.blok{
  background-color: #FFFAED;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 20em;
  border-radius: 20px;
  box-shadow: 0 0px 30px rgb(0 0 0 / 0.1);
}

.blok img{
 margin: 1.5em;
}

.blok h1{
  margin: 0px;
}

.blok p{
  margin: 0px;
}

.blok div{
  background-color: #FFFAED;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 0 0px 30px rgb(0 0 0 / 0.1);
}

/* Footer */

footer{
  margin: 4em 2em 4em 2em;
}

footer p, footer a{
  color: #131F48;
  font-size: 12px;
}